.dashboard__summary {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.dashboard__intro {
   display: grid;
   grid-template-columns: 60% 40%;
}

.dashboard__statistics {
   display: grid;
   grid-template-columns: 40% 60%;
}

.dashboard__tables {
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.dashboard__chakra-background {
   background-image: url(/chakra-background.png);
   background-position: center;
   height: 256px;
   width: 360px;
   overflow: hidden;
}

.dashboard__article-background {
   background: linear-gradient(0deg, rgba(49, 56, 96, 0.16) 0%, rgba(21, 25, 40, 0.88) 100%);
   background-image: url(/article-background.png);
   inset: 0;
   z-index: 0;
}