.signup__banner {
   height: 520px;
   overflow: hidden;
   background-image: url(/banner-image.png);
   background-position: center;
   background-repeat: no-repeat;
   z-index: -1;
}

.signup__container {
   max-width: 1024px;
   margin-inline: auto;
   text-align: center;
}

.signup__form-container {
   max-width: calc(350px + 72px);
   margin-inline: auto;
}

.signup__form {
   max-width: 350px;
}