$text-heading: 2rem;
$text-lg: 1.125rem;
$text-base: 0.875rem;
$text-sm: 0.75rem;
$text-xs: 0.625rem;

$font-base: 400;
$font-bold: 700;

$color-primary: #4FD1C5;
$color-secondary: #FFFFFF;
$color-gradient: linear-gradient(90deg, #313860 0%, #151928 100%);
$color-screen: #F8F9FA;
$color-success: #48BB78;
$color-failure: #E53E3E;
$color-gray-200: #E2E8F0;
$color-gray-300: #CBD5E0;
$color-gray-400: #A0AEC0;
$color-gray-500: #718096;
$color-gray-700: #2D3748;

$rounded-sm: 0.375rem;
$rounded-base: 0.75rem;
$rounded-lg: 0.9375rem;
$rounded-full: 9999px;

$shadow-base: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
$shadow-lg: 0px 7px 23px 0px rgba(0, 0, 0, 0.05);

$space-1: 0.25rem;
$space-1\.5: 0.375rem;
$space-2: 0.5rem;
$space-2\.5: 0.625rem;
$space-3: 0.75rem;
$space-3\.5: 0.875rem;
$space-4: 1rem;
$space-4\.5: 1.125rem;
$space-5: 1.25rem;
$space-6: 1.5rem;
$space-7: 1.75rem;
$space-8: 2rem;
$space-9: 2.25rem;

$leading-none: 1;
$leading-tight: 1.25;
$leading-normal: 1.4;

$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;