@import "./variables";
@import "./spacing";
@import "./signup-page";
@import "./signin-page";
@import "./dashboard-page";
@import "./tables-page";

// Andy Bell CSS Reset
// https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421
// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Remove default margin */
* {
   margin: 0;
   padding: 0;
   font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
   list-style: none;
}

/* Set core root defaults */
html:focus-within {
   scroll-behavior: smooth;
}

/* Set core html, body defaults */
html,
body {
   height: 100%;
}

body {
   font-family: Helvetica, Arial, sans-serif;
   font-size: $text-base;
   font-weight: $font-base;
   line-height: $leading-normal;
   text-rendering: optimizeSpeed;
   max-width: 100vw;
   overflow-x: hidden;
}

/* Anchor elements get default styles */
a:not([class]) {
   text-decoration-skip-ink: auto;
}

a {
   text-decoration: none;
   color: inherit;
}

/* Make images easier to work with */
img,
picture {
   max-width: 100%;
   display: block;
}

svg {
   max-width: 100%;
   vertical-align: top;
}

/* Set default behaviours of buttons */
button {
   border: none;
   background: none;
}

button:hover {
   cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
   }
  
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

/* Utility classes */
.text-primary { color: $color-primary; }
.text-secondary { color: $color-secondary; }
.text-success { color: $color-success; }
.text-failure { color: $color-failure; }
.text-gray-300 { color: $color-gray-300; }
.text-gray-400 { color: $color-gray-400; }
.text-gray-500 { color: $color-gray-500; }
.text-gray-700 { color: $color-gray-700; }

.bg-screen { background-color: $color-screen; }
.bg-primary { background-color: $color-primary; }
.bg-secondary { background-color: $color-secondary; }
.bg-gradient { background: $color-gradient; }
.bg-success { background-color: $color-success; }
.bg-failure { background-color: $color-failure; }
.bg-gray-300 { background-color: $color-gray-300; }
.bg-gray-400 { background-color: $color-gray-400; }
.bg-gray-500 { background-color: $color-gray-500; }
.bg-gray-700 { background-color: $color-gray-700; }

.text-heading  { font-size: $text-heading; }
.text-lg { font-size: $text-lg; }
.text-base { font-size: $text-base; }
.text-sm { font-size: $text-sm; }
.text-xs { font-size: $text-xs; }

.font-base { font-weight: $font-base; }
.font-bold { font-weight: $font-bold; }

.shadow { box-shadow: $shadow-base; }
.shadow-none { box-shadow: none; }
.shadow-lg { box-shadow: $shadow-lg; }

.rounded-sm { border-radius: $rounded-sm; }
.rounded { border-radius: $rounded-base; }
.rounded-lg { border-radius: $rounded-lg; }
.rounded-full { border-radius: $rounded-full; }

.leading-none { line-height: $leading-none; }
.leading-tight { line-height: $leading-tight; }
.leading-normal { line-height: $leading-normal; }

.border { border: 1px solid $color-gray-200; }
.border-1\.5 { border: 1.5px solid $color-gray-200; }
.border-2 { border: 2px solid $color-gray-200; }
.border-2\.5 { border: 2.5px solid $color-gray-200; }
.border-3 { border: 3px solid $color-gray-200; }
.border-3\.5 { border: 3.5px solid $color-gray-200; }
.border-4 { border: 4px solid $color-gray-200; }
.border-4\.5 { border: 4.5px solid $color-gray-200; }
.border-5 { border: 5px solid $color-gray-200; }

.w-full { width: 100%; }
.h-full { height: 100%; }

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

/* Style classes */

// Header
.header__nav {
   display: flex;
   align-items: center;
}

.header__nav-item {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
}

.header__background {
   border: 1.5px solid $color-secondary;
   background-color: rgba($color: #FFFFFF, $alpha: 0.8);
   backdrop-filter: blur(10.5px);
}

// Footer
.header,
.footer {
   display: flex;
   justify-content: space-between;
}

.layout,
.footer__list {
   display: flex;
}

// Form
.form {
   max-width: 350px;
}

// Input
.input__label {
   display: block;
   max-width: max-content;
}

// Switch
.switch__container {
   display: flex;
   align-items: center;
   justify-content: start;
}

.switch {
   width: 2.25rem;
   height: 1.125rem;

   .switch__thumb {
      display: block;
      width: 0.875rem;
      height: 0.875rem;
      transition: transform 250ms;
      transform: translateX(2px);
      will-change: transform;
   
      &[data-state='checked'] {
         transform: translateX(1.25rem);
      }
   }
}

// Separator
.separator {
   background: linear-gradient(90deg, rgba(224, 225, 226, 0.00) 0%, #E0E1E2 50%, rgba(224, 225, 226, 0.16) 100%);
   height: 1px;
}

// Sidebar
.sidebar {
   width: 4.625rem;
   display: flex;
   flex-direction: column;
   align-items: center;

   .sidebar__logo {
      display: none;
   }
   
   .sidebar__nav {
      width: 3.375rem;
      margin-inline: auto;
      overflow: hidden;

      & + p.uppercase {
         margin-left: 0;
         text-align: center;
      }
   }
   
   .sidebar__nav-icon {
      height: 30px;
      width: 30px;
   }
   
   .sidebar__help-doc {
      display: none;
      overflow: hidden;
      position: relative;
   }
   
   .sidebar__doc-icon,
   .sidebar__help-icon {
      height: 35px;
      width: 35px;
   }
   
   .sidebar__help-doc-ring {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
   
      & > div {
         position: absolute;
         background-color: transparent;
         border: 1px solid rgba(255, 255, 255, 0.3);
         border-radius: 9999px;
         z-index: -1;
      }
   
      & > div:nth-child(1) {
         height: 58.5px;
         width: 58.5px;
      }
      & > div:nth-child(2) {
         height: 96.95px;
         width: 96.95px;
      }
      & > div:nth-child(3) {
         height: 145px;
         width: 145px;
      }
      & > div:nth-child(4) {
         height: 198px;
         width: 198px;
      }
      & > div:nth-child(5) {
         height: 252.74px;
         width: 252.74px;
      }
      & > div:nth-child(6) {
         height: 307.44px;
         width: 307.44px;
      }
      & > div:nth-child(7) {
         height: 355.5px;
         width: 355.5px;
      }
   }
}

// Breadcrumps
.breadcrumps {
   display: flex;
   justify-content: space-between;
   align-items: start;
   
   .breadcrumps__item {
      display: inline-flex;
      align-items: center;
   }
   
   .breadcrumps__nav,
   .breadcrumps__search {
      display: flex;
      align-items: center;
      position: relative;
   }
   
   .breadcrumps__search-icon {
      display: flex;
      align-items: center;
      position: absolute;
   }
}

// Icon wrapper
.icon-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
}

@media (min-width: $breakpoint-lg) {
   .summary {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media (min-width: $breakpoint-xl) {
   .articles {
      grid-template-columns: 3fr 2fr;
   }

   .statistics {
      grid-template-columns: 2fr 3fr;
   }

   .details {
      grid-template-columns: 2fr 1fr;
   }

   .sidebar {
      width: 15rem;

      .sidebar__help-doc {
         display: block;
      }

      .sidebar__doc-icon {
         display: none;
      }

      .sidebar__nav {
         width: 13.75rem;

         & + p.uppercase {
            margin-left: 1rem;
            text-align: left;
         }
      }
   
      .sidebar__logo {
         display: block;
      }
   }
}
