@import "./variables";
@import "./spacing";
@import "./signup-page";

// Andy Bell CSS Reset
// https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421
// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Remove default margin */
* {
   margin: 0;
   padding: 0;
   font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
   list-style: none;
}

/* Set core root defaults */
html:focus-within {
   scroll-behavior: smooth;
}

/* Set core html, body defaults */
html,
body {
   height: 100%;
}

body {
   font-family: Helvetica, Arial, sans-serif;
   font-size: $text-base;
   font-weight: $font-base;
   line-height: $leading-normal;
   text-rendering: optimizeSpeed;
   max-width: 100vw;
   overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
   text-decoration-skip-ink: auto;
   text-decoration: none;
   color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
   max-width: 100%;
   display: block;
}

svg {
   vertical-align: top;
}

/* Set default behaviours of buttons */
button {
   border: none;
}

button:hover {
   cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
   }
  
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

/* Set up accessibility class for screen reader */
.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border-width: 0;
}

/* Utility classes */
.text-primary { color: $color-primary; }
.text-secondary { color: $color-secondary; }
.text-success { color: $color-success; }
.text-failure { color: $color-failure; }
.text-gray-300 { color: $color-gray-300; }
.text-gray-400 { color: $color-gray-400; }
.text-gray-500 { color: $color-gray-500; }
.text-gray-700 { color: $color-gray-700; }

.bg-screen { background-color: $color-screen; }
.bg-primary { background-color: $color-primary; }
.bg-secondary { background-color: $color-secondary; }
.bg-gradient { background: $color-gradient; }
.bg-success { background-color: $color-success; }
.bg-failure { background-color: $color-failure; }
.bg-gray-300 { background-color: $color-gray-300; }
.bg-gray-400 { background-color: $color-gray-400; }
.bg-gray-500 { background-color: $color-gray-500; }
.bg-gray-700 { background-color: $color-gray-700; }

.text-heading  { font-size: $text-heading; }
.text-lg { font-size: $text-lg; }
.text-base { font-size: $font-base; }
.text-sm { font-size: $text-sm; }
.text-xs { font-size: $text-xs; }

.font-base { font-weight: $font-base; }
.font-bold { font-weight: $font-bold; }

.shadow { box-shadow: $shadow-base; }
.shadow-none { box-shadow: none; }
.shadow-lg { box-shadow: $shadow-lg; }

.rounded { border-radius: $rounded-base; }
.rounded-md { border-radius: $rounded-md; }
.rounded-lg { border-radius: $rounded-lg; }
.rounded-full { border-radius: $rounded-full; }

.leading-none { line-height: none; }
.leading-tight { line-height: $leading-tight; }
.leading-normal { line-height: $leading-normal; }

.w-full { width: 100%; }
.h-full { height: 100%; }

.relative { position: relative; }
.sticky { position: sticky; }
.fixed { position: fixed; }
.absolute { position: absolute; }

.border { border: 1px solid $color-gray-200; }
.border-2 { border: 2px solid $color-gray-200; }
.border-3 { border: 3px solid $color-gray-200; }
.border-4 { border: 4px solid $color-gray-200; }
.border-5 { border: 5px solid $color-gray-200; }

/* Classes */

// Footer
.footer {
   display: flex;
   justify-content: space-between;
   color: $color-gray-400;
}

.footer__nav {
   display: flex;
   gap: 52px;
}

// Navbar
.navbar {
   display: flex;
   justify-content: space-between;
}

.navbar__item {
   font-weight: $font-bold;
   text-transform: uppercase;
}

// Button
.btn {
   text-align: center;
   @extend .text-xs;
   @extend .font-bold;
}

.btn-primary {
   @extend .btn;
   @extend .bg-primary;
   @extend .text-secondary;
}

.btn-secondary {
   @extend .btn;
   @extend .bg-secondary;
}

.btn-gradient {
   @extend .btn;
   @extend .bg-gradient;
   @extend .text-secondary;
}

// Card
.card-signup__container {
   @extend .w-full;
   max-width: 450px;
}

// Input
.input {
   @extend .w-full;
   max-width: 350px;
   margin-inline: auto;
}

.input__label {
   @extend .ml-1;
   text-transform: capitalize;
   display: block;
   max-width: max-content;
}