$text-heading: 2rem;
$text-lg: 1.125rem;
$text-base: 0.875rem;
$text-sm: 0.75rem;
$text-xs: 0.625rem;

$font-regular: 400;
$font-bold: 700;

$color-primary: #4FD1C5;
$color-secondary: #FFFFFF;
$color-background: #F8F9FA;
$color-success: #48BB78;
$color-failure: #E53E3E;
$color-neutral-300: #CBD5E0;
$color-neutral-400: #A0AEC0;
$color-neutral-500: #718096;
$color-neutral-700: #2D3748;

$rounded-base: 0.75rem;
$rounded-lg: 1.125rem;
$rounded-full: 9999px;

$shadow-base: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.25);
$shadow-lg: 0px 7px 23px 0px rgba(0, 0, 0, 0.25);

$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.25rem;
$space-6: 1.5rem;
$space-7: 1.75rem;

// Andy Bell CSS Reset
// https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421
// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core html, body defaults */
html,
body {
   height: 100%;
}

body {
   font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set up accessibility class for screen reader */
.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border-width: 0;
}